<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">
      Saúde
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-img src="/assets/saude/saude1.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Saúde</ion-card-subtitle>
        <ion-card-title>Evite 9 erros comuns que fazem você engordar após emagrecer</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Engordar, emagrecer e depois voltar a perder peso e ganhar tudo novamente ou até mais. Popularmente conhecido como efeito sanfona, esse é um ciclo vicioso que para muita gente é difícil de romper.</p>
      </ion-card-content>
    </ion-card>
    <br>
    <ion-card>
      <ion-img src="/assets/saude/saude2.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Saúde</ion-card-subtitle>
        <ion-card-title>TPM pode ser confundida com depressão</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Os sintomas, por vezes, são semelhantes. A diferença é que depois da TPM, os sintomas somem.</p>
      </ion-card-content>
    </ion-card>
    <br>
    <ion-card>
      <ion-img src="/assets/saude/saude3.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Viva Você</ion-card-subtitle>
        <ion-card-title>Carregar peso de forma errada pode provocar lesões</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Você sabe como carregar a sua mochila, bolsa, sacola de supermercado? Veja as dicas.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
