<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-img src="/assets/saude/saude1.jpg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Saúde</ion-card-subtitle>
            <ion-card-title>Evite 9 erros comuns que fazem você engordar após emagrecer</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Engordar, emagrecer e depois voltar a perder peso e ganhar tudo novamente ou até mais. Popularmente conhecido como efeito sanfona, esse é um ciclo vicioso que para muita gente é difícil de romper.</p>
          </ion-card-content>
      </ion-card>
      <br>
      
      <ion-card>
          <ion-img src="/assets/negocio/negocio1.jpg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Economia</ion-card-subtitle>
            <ion-card-title>Governo monta estratégia para reduzir juros ao consumidor</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>O governo montou uma estratégia para tentar reduzir juros cobrados de consumidores e empresas.</p>
          </ion-card-content>
        </ion-card>
        <br>

        <ion-card>
            <ion-img src="/assets/technologia/tech1.jpg"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>Tecnologia</ion-card-subtitle>
              <ion-card-title>Cientistas da NASA descobrem 'gás misterioso' no planeta vermelho</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Pela primeira vez na história da exploração espacial, os cientistas da NASA mediram as mudanças sazonais nos gases acima da superfície da Cratera Gale no Planeta Vermelho.</p>
            </ion-card-content>
          </ion-card>
          <br>

          <ion-card>
              <ion-img src="/assets/sport/sport2.jpg"></ion-img>
              <ion-card-header>
                <ion-card-subtitle>Botafogo</ion-card-subtitle>
                <ion-card-title>Análise: ainda sonolento, Botafogo vence, mas vai precisar de bem mais para se manter longe do Z-4</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Quem esperava que Alvinegro fosse manter intensidade do clássico, viu outra coisa: um time que tomou vários sustos do lanterna, pouco incomodou e contou com a sorte para vencer</p>
              </ion-card-content>
            </ion-card>
            <br>
</ion-content>
