<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">
      Tecnologia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-img src="/assets/technologia/tech1.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Tecnologia</ion-card-subtitle>
        <ion-card-title>Cientistas da NASA descobrem 'gás misterioso' no planeta vermelho</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Pela primeira vez na história da exploração espacial, os cientistas da NASA mediram as mudanças sazonais nos gases acima da superfície da Cratera Gale no Planeta Vermelho.</p>
      </ion-card-content>
    </ion-card>
    <br>
    <ion-card>
      <ion-img src="/assets/technologia/tech2.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Eletrônico</ion-card-subtitle>
        <ion-card-title>Haylou GT1 é bom? Veja ficha técnica e preços do fone de ouvido barato</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Fone sem fio tem Bluetooth 5.0 e promete som de qualidade a preço acessível.</p>
      </ion-card-content>
    </ion-card>
    <br>
    <ion-card>
      <ion-img src="/assets/technologia/tech3.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Jogos</ion-card-subtitle>
        <ion-card-title>League of Legends: relembre skins que foram alvos de polêmicas no LoL</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Entre os diversos visuais do jogo, alguns foram alvos de críticas da comunidade ou censura; confira</p>
      </ion-card-content>
    </ion-card>
</ion-content>
