<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">
      Negócios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-img src="/assets/negocio/negocio1.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Economia</ion-card-subtitle>
        <ion-card-title>Governo monta estratégia para reduzir juros ao consumidor</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>O governo montou uma estratégia para tentar reduzir juros cobrados de consumidores e empresas.</p>
      </ion-card-content>
    </ion-card>
    <br>
    <ion-card>
      <ion-img src="/assets/negocio/negocio2.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Economia</ion-card-subtitle>
        <ion-card-title>Há dez anos, o Brasil 'decolava' na capa da 'The Economist'; o que aconteceu desde então?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Revista britânica publicou artigo em 2009 apontando a economia brasileira como promissora, mas nos anos seguintes fez novas montagens mostrando decepção.</p>
      </ion-card-content>
    </ion-card>
   
</ion-content>
