<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">
      Esportes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-img src="/assets/sport/sport1.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Clima de Revanche?</ion-card-subtitle>
        <ion-card-title>Esporte</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Clima de revanche? Grêmio ganha semana livre e tempo para encarar reencontro com Flamengo</p>
      </ion-card-content>
    </ion-card>
    <br>
    <ion-card>
      <ion-img src="/assets/sport/sport2.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Botafogo</ion-card-subtitle>
        <ion-card-title>Análise: ainda sonolento, Botafogo vence, mas vai precisar de bem mais para se manter longe do Z-4</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Quem esperava que Alvinegro fosse manter intensidade do clássico, viu outra coisa: um time que tomou vários sustos do lanterna, pouco incomodou e contou com a sorte para vencer</p>
      </ion-card-content>
    </ion-card>
    <br>
    <ion-card>
      <ion-img src="/assets/sport/sport3.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>FUTEBOL INTERNACIONAL</ion-card-subtitle>
        <ion-card-title>Após ser afastado de jogo da Inglaterra, Sterling se desculpa por provocar zagueiro do Liverpool</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Atacante do Manchester levou clima de rivalidade do clássico para o treinamento do English Team</p>
      </ion-card-content>
    </ion-card>
</ion-content>
